# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\João Soares\OneDrive - Universidade de Aveiro\Universidade\Licenciatura em Engenharia Informática\3º Ano\2º Semestre\Teste e Qualidade de Software\TQS_Portfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
